html {
	margin: 0px;
	padding: 0;
	width: 100%;
	box-sizing: border-box;
}

body {
	background-color: rgb(75, 83, 32);
	margin: 0px;
	justify-content: center;
	align-items: center;
}

.navbar {
	margin: 0px;
	width: 100%;
	overflow: hidden;
	background-color: black;
	box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
	
}

.navbar a {
	background-color: black;
	margin: 0px;
	overflow: hidden;
	padding: 1.5vw;
	text-decoration: none;
	text-align: center;
	color: tan;
	float: left;
}

.navbar a:hover {
	background-color: #003200;
}

.navbar .active {
	background-color: #003200;
}

.homepage {
	align-items: center;
	justify-content: center;
	display: flex;
}

.homepage img {
	width: 30vw;
	margin: 5vw;
	border: 0.5vw solid tan;
	box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
}

.homepage h3 {
	color: tan;
	margin: 5vw;
	margin-left: 10vw;
	text-align: left;

}

.home-book {
	
	display: flex;
	align-items: left;
	justify-content: left;
	margin: 3vw;
	box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
	border-radius: 15px;
	background-color: #001D00;
}

.home-book img {
	width: 30vw;
	height: 20vw;
	margin: 3vw;
	border: 0.5vw solid tan;
	box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
}

.home-book h3 {
	color: tan;
	margin: 8vw;

}


.bookpage {
	display: flex;
	align-items: center;
	justify-content: center;

}

.bookpage img {
	width: 30vw;
	height: 20vw;
	margin: 10vw;
	margin-left: 15vw;
	border: 0.5vw solid tan;
	box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
}

.bookpage h3 {
	color: tan;

}

.book {
	border-radius: 15px;
	background-color: #001D00;
	display: flex;
	align-items: left;
	justify-content: left;
	margin: 5vw;
	box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
}

.book img {
	width: 20%;
	min-width: 100px;
	max-height: 400px;
	height: auto;
	object-fit: scale-down;
	margin: 4vw;
	margin-right: 3vw;
}

.book h3 {
	color: tan;
	margin: 8vw;

}

.book h3 a {
	color: tan;
}

.contact-email {
    	padding: 3vh;
  	margin:6vh;
  	margin-left: 20vw;
  	margin-right: 20vw;
  	border-radius: 15px;
	background-color: #001D00;
	text-align: left;
	font-size: 20px;
	box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
	border-radius: 2rem;
	box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
}

.contact-email h1 {
	font-size: 30px;
	color: tan;
}

.contact-email-text {
  	color: tan;
	
}

footer {
	background-color: black;
	color: tan;
	padding: 1vw;
	box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
}

.contact-footer {
	margin-top: 30vh;
}

.monographs {

}

.monograph {
	border-radius: 15px;
	background-color: #001D00;
	display: flex;
	align-items: left;
	justify-content: left;
	margin: 12vw;
	margin-top: 40px;
	margin-bottom: 40px;
	box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
}

.monograph img {
	width: 20%;
	min-width: 100px;
	max-height: 400px;
	height: auto;
	object-fit: scale-down;
	margin: 4vw;
	margin-right: 3vw;
}


.monograph h3 {
	color: tan;
	margin: 8vw;

}

.monograph h3 a {
	color: tan;
}

